<template>
    <div>
        <div class="text-center" style="padding:90px 0 30px 0;background:#fff;border-bottom:1px solid #ddd">
            <img src="../assets/color_logo_transparent.png" height="150px">
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 text-center" style="margin:40px auto; float:none;">
            <h1>404</h1>
           <h3>Page Not Found</h3>
        </div>
    </div>
</template>

<script>

</script>