<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Servers Status</div>
                    <div class="panel-body">
                        <div class="row cm-fix-height">
                            <div class="col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Authentication Microservice</div>
                                    <div class="panel-body">
                                        <button class="btn btn-block btn-success" data-switch-color="success">Running</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">CRM Service</div>
                                    <div class="panel-body">
                                        <button class="btn btn-block btn-success" data-switch-color="success">Running</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Inventory Service</div>
                                    <div class="panel-body">
                                        <button class="btn btn-block btn-warning" data-switch-color="warning">slow</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Human Resource Service</div>
                                    <div class="panel-body">
                                        <button class="btn btn-block btn-danger" data-switch-color="danger">danger</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        created(){

        },
        computed: {
            categories(){
                return this.$store.state.categories;
            }

        }
    }
</script>