<template>
    <div>
        <div v-if="$route.meta.requiresAuth">
            <div id="cm-menu">
                <nav class="cm-navbar cm-navbar-primary">
                    <div class="cm-flex"><router-link to="/" class="cm-logo"></router-link></div>
                    <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
                </nav>
                <div id="cm-menu-content">
                    <div id="cm-menu-items-wrapper">
                        <div id="cm-menu-scroller">
                            <ul class="cm-menu-items">
                                <li><router-link class="sf-dashboard" to="/">Dashboard</router-link></li>
                                <li class="cm-submenu">
                                    <a class="sf-profile-group">Staff Management <span class="caret"></span></a>
                                    <ul>
                                        <li><router-link to="/staff/add">Add Staff</router-link></li>
                                        <li><router-link to="/staff">View Staff</router-link></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <header id="cm-header">
                <nav class="cm-navbar cm-navbar-primary">
                    <div class="btn btn-primary md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
                    <div class="cm-flex">
                        <h1>Home</h1>
                        <form id="cm-search" action="index.html" method="get">
                            <input type="search" name="q" autocomplete="off" placeholder="Search...">
                        </form>
                    </div>
                    <div class="pull-right">
                        <div id="cm-search-btn" class="btn btn-primary md-search-white" data-toggle="cm-search"></div>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary md-notifications-white" data-toggle="dropdown"> <span class="label label-danger">23</span> </button>
                        <div class="popover cm-popover bottom">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <h4 class="list-group-item-heading text-overflow">
                                            <i class="fa fa-fw fa-envelope"></i> Nunc volutpat aliquet magna.
                                        </h4>
                                        <p class="list-group-item-text text-overflow">Pellentesque tincidunt mollis scelerisque. Praesent vel blandit quam.</p>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <h4 class="list-group-item-heading">
                                            <i class="fa fa-fw fa-envelope"></i> Aliquam orci lectus
                                        </h4>
                                        <p class="list-group-item-text">Donec quis arcu non risus sagittis</p>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <h4 class="list-group-item-heading">
                                            <i class="fa fa-fw fa-warning"></i> Holy guacamole !
                                        </h4>
                                        <p class="list-group-item-text">Best check yo self, you're not looking too good.</p>
                                    </a>
                                </div>
                                <div style="padding:10px"><a class="btn btn-success btn-block" href="#">Show me more...</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary md-account-circle-white" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu">
                            <li class="disabled text-center">
                                <a style="cursor:default;"><strong>{{ username }}</strong></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <router-link to="#"><i class="fa fa-fw fa-user"></i> Profile</router-link>
                            </li>
                            <li>
                                <router-link to="#"><i class="fa fa-fw fa-cog"></i> Settings</router-link>
                            </li>
                            <li>
                                <router-link to="/logout"><i class="fa fa-fw fa-sign-out"></i> Sign out</router-link>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div id="global">
                <div class="container-fluid">
                    <router-view></router-view>
                </div>
                <footer class="cm-footer"><span class="pull-left">Connected as {{ username }}</span><span class="pull-right">&copy; Construction Machinery Trader</span></footer>
            </div>
        </div>

        <div v-if="!$route.meta.requiresAuth">
            <router-view></router-view>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {
                username: '',
            }
        },

        created(){
            let user = JSON.parse(localStorage.getItem('user'));
            this.username = user.name;
        }
    }
</script>

