<template>
    <div>
        <div class="text-center" style="padding:90px 0 30px 0;background:#fff;border-bottom:1px solid #ddd">
            <img src="../../assets/color_logo_transparent.png" height="150px">
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3" style="margin:40px auto; float:none;">
            <form method="post" @submit.prevent="authenticateUser">
                <div class="col-xs-12">
                    <div class="form-group" v-bind:class="{'has-error' : errors.first('email')}">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></div>
                            <input type="email" v-model="email" name="username" v-validate="'required|email'" class="form-control" placeholder="Email">
                        </div>
                        <span id="usernameHelpBlock" class="help-block">{{ errors.first('username') }}</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-lock"></i></div>
                            <input type="password" v-model="password" v-validate="'min:6'" name="password" class="form-control" placeholder="Password">
                        </div>
                        <span id="passwordHelpBlock" class="help-block">{{ errors.first('password') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                    </div>
                </div>
                <div class="row">
                    <div class="row" style="padding-top: 10px">
                        <div class="col-sm-6 col-md-6"><router-link to="/register">Create an Account?</router-link></div>
                        <div class="col-sm-6 col-md-6"><router-link to="/password/email">Forgot Password?</router-link></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import authMixins from '../../mixins/auth'

    export default {
        data: function (){
            return{
                email: '',
                password: ''
            }
        },
        mixins: [authMixins],
        created: function () {

        },
        methods: {
            authenticateUser: function () {
                this.$validator.validate().then(result => {
                    if (!result) {
                        this.$toastr('error', "Correct the error before submitting again");
                    } else {
                        let data = {
                            "username": this.email,
                            "password": this.password
                        };

                        this.login(data);
                    }
                });


            }
        }
    }
</script>