<template>
    <div>
        <div class="text-center" style="padding:90px 0 30px 0;background:#fff;border-bottom:1px solid #ddd">
            <img src="../../assets/color_logo_transparent.png" height="150px">
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3" style="margin:40px auto; float:none;">
            <form method="post" @submit.prevent="registerUser">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-user"></i></div>
                            <input type="name" v-model="name" v-validate="{required: true, alpha_spaces: true}" name="name"  class="form-control" placeholder="John Doe">
                        </div>
                        <span id="nameHelpBlock" class="help-block">{{ errors.first('name') }}</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></div>
                            <input type="email" v-model="email" v-validate="'required|email'" name="email" class="form-control" placeholder="example@email.com">
                        </div>
                        <span id="emailHelpBlock" class="help-block">{{ errors.first('email') }}</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-lock"></i></div>
                            <input type="password" v-model="password" v-validate="'min:6'" name="password" class="form-control" placeholder="Password">
                        </div>
                        <span id="passwordHelpBlock" class="help-block">{{ errors.first('password') }}</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-lock"></i></div>
                            <input type="password" v-model="confirm_password" v-validate="{required: true, is:password}" name="confirm_password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <span id="confirmpasswordHelpBlock" class="help-block">{{ errors.first('confirm_password') }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px">
                    <div class="col-sm-6 col-md-6"><router-link to="/login">Already have an account?</router-link></div>
                    <div class="col-sm-6 col-md-6"><router-link to="/password/email">Forgot Password?</router-link></div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import authMixins from '../../mixins/auth'
    export default {
        name: "RegisterComponent",
        mixins: [authMixins],
        data () {
            return {
                name: '',
                email: '',
                password: '',
                confirm_password: '',
                buttonText: 'Register <i class="fa fa-sign-in"></i>'
            }
        },
        methods: {
            registerUser: function () {
                this.$validator.validate().then(result => {
                    if (!result) {
                        this.$toastr('error', "Correct the error before submitting again");
                    } else {
                        let data = {
                            name: this.name,
                            email: this.email,
                            password: this.password,
                            password_confirmation: this.confirm_password
                        };
                        this.register(data);
                    }
                });

            }
        }
    }
</script>