<template>
    <div>
        <div class="text-center" style="padding:90px 0 30px 0;background:#fff;border-bottom:1px solid #ddd">
            <img src="../../assets/color_logo_transparent.png" height="150px">
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3" style="margin:40px auto; float:none;">
            <form method="post" action="index.html">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></div>
                            <input type="email" name="username" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-block btn-primary">Send Password Reset Link</button>
                    </div>
                </div>
                <div class="row">
                    <div class="row" style="padding-top: 10px">
                        <div class="col-sm-6 col-md-6"><router-link to="/register">Create an Account?</router-link></div>
                        <div class="col-sm-6 col-md-6"><router-link to="/login">Already Have an Account?</router-link></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>